.main{
    text-align: center;
    color: rgb(52, 52, 213);
    border-color: rgb(35, 35, 169);
    border-radius: 0px;
    border-width: 5px;
    border-style: groove;
    border-spacing: 5px;
}
body{
    background-color: rgb(178, 178, 240);
    overflow: scroll;
    
}